*{
    box-sizing: border-box;
    color: white;
    text-align: center;
    font-size: 20px;
}


.container{
    width: 1204px;
    height: 1459px ;
    border: 2px solid red;
    display: flex; 
    margin: 0 auto;
}

.flex{
    /* justify-content: flex-start; */
    flex-wrap: wrap;
    flex-direction: row;   
}

header{
    width: 1200px;
    height: 185px;
    background-color: chocolate;
}

nav{

    width: 1200px;
    height: 70px;
    background-color: blue;   
}


aside{

    width: 280px;
    height: 1000px;
    background-color: green;
}

article{
    width: 920px;
    height: 1000px;
    background-color: rgb(0, 0, 0);
}

footer{
    width: 1200px;
    height: 200px;
    background-color: rebeccapurple;
}

/* padding limite da caixa */
/* margin espaço externo entre as caixas */
/* border limite da caixa */