* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px; 
    text-align: center;
}

main {
    width: 1200px;
    display:flex;
    flex-flow: row wrap;
    margin: 0 auto;
}

header{
    width: 1200px;
    height: 185px;
    background-color: aqua;
}

nav {
    width: 1200px;
    height: 70px;
    background-color: black;
}

aside{ 
    width: 150px;
    height: 1000px;
}

footer{
    width: 1200px;
    height: 100px;
    background-color: silver;
}

#as1 {background-color: salmon;}

#container1 {
    display:flex;
    flex-flow: row wrap;
    width: 900px;
    height: 1000px;
}

#ar1{
    width:450px ;
    height:500px ;
    background-color: slateblue;
}

#ar2{
    width:450px ;
    height:500px ;
    background-color: teal;
}
#ar3{
    width:450px ;
    height:500px ;
    background-color: violet;
}
#ar4{
    width:450px ;
    height:500px ;
    background-color: yellow;
}

#container2 {
    width: 1200px;
    height: 200px;
    display:flex;
    flex-flow: row wrap;
}

#ar5{ 
    width:600px ;
    height:200px ;
    background-color: yellowgreen;
}

#ar6{
    width:600px ;
    height:200px ;
    background-color:brown;
}

#as2 {
    
    background-color: red;}





